<section class="about-us" id="about-us">
    <div class="container">
        <h2 class="about-us-title">About
            <span class="about-us-span">Us</span>
        </h2>
        <div class="about-us-and">
            <picture class="about-us-foto">
                <source srcset="
                                                                ./img/Rectangle6-min.jpg    1x,
                                                                ./img/desktop/Rectangle6@2x-min.jpg 2x
                                                              " media="(min-width: 1280px)" />
                <source srcset="
                                                                ./img/tablet/Rectangletablet1x-min.jpg    1x,
                                                                ./img/tablet/Rectangletablet@2x-min.jpg 2x
                                                              " media="(min-width: 768px)" />
                <source srcset="
                                                                ./img/mobile/img/Rectangle1x-min.jpg   1x,
                                                                ./img/mobile/img/Rectangle@2x-min.jpg 2x
                                                              " media="(max-width: 767px)" />
                <img src="./img/mobile/img/Rectangle1x-min.jpg" alt="Rectangle" />
            </picture>
            <div class="about-us-parag">
                <p class="about-us-info">Our photography school is designed to teach you everything you need to know
                    about
                    this magical art.
                    Regardless of your
                    experience or skill level, we offer a wide range of courses to suit your needs and interests. Our
                    teaching
                    team consists
                    of experienced photographers who have many years of experience in this field. They strive not only
                    to
                    share
                    their
                    knowledge, but also to inspire you to develop and express your unique creativity.
                </p>
                <p class="about-us-info">Our courses cover a wide range of topics, from the basics of photography and
                    equipment use to
                    professional
                    image
                    processing and creating impressive compositions. You will have the opportunity to learn the
                    technical
                    aspects of
                    photography, discover your own style and develop your own visual language.
                </p>
            </div>
        </div>
    </div>
</section>