<section class="advert">
  <div class="advert-wrapp">
    <hr class="advert-line" />
    <div class="advert-inner">
      <h2 class="advert-line-text">
        Master <span class="white-advert">your photography</span> skills with
        us! Master <span class="white-advert">your photography</span> skills
        with us!&nbsp;
      </h2>
      <h2 class="advert-line-text">
        Master <span class="white-advert">your photography</span> skills with
        us! Master <span class="white-advert">your photography</span> skills
        with us!&nbsp;
      </h2>
    </div>
    <hr class="advert-line" />
  </div>
</section>
