<section class="courses">
    <div class="courses-container container">
        <div class="courses-block">
            <h2 class="courses-title">Our <span class="courses-title-span">Courses</span></h2>
            <p class="courses-text">
                At our photography school, we offer a variety of courses that cover
                all aspects of this fascinating art. Regardless of your experience or
                skill level, we have courses to suit your needs and goals.
            </p>
        </div>
        <ul class="courses-list">
            <li class="courses-item">
                <div class="courses-num-arrow">
                    <p class="courses-item-num">01</p>
                    <a href="#signup" class="courses-item-arrow">
                        <svg class="courses-icon" width="20" height="20">
                            <use href="./img/icons.svg.svg#icon-flash"></use>
                        </svg>
                    </a>
                </div>
                <div class="courses-content">
                    <h3 class="courses-subtitle">Basics of<br>photography</h3>
                    <p class="courses-content-text">
                        During this course, you will be able to familiarize yourself
                        with different types of cameras, learn the basics of
                        composition.
                    </p>
                </div>
            </li>
            <li class="courses-item">
                <div class="courses-num-arrow">
                    <p class="courses-item-num">02</p>
                    <a href="#signup" class="courses-item-arrow">
                        <svg class="courses-icon" width="20" height="20">
                            <use href="./img/icons.svg.svg#icon-flash"></use>
                        </svg>
                    </a>
                </div>
                <div class="courses-content">
                    <h3 class="courses-subtitle">Landscape photography</h3>
                    <p class="courses-content-text">
                        In this course, you'll learn how to choose the right angles,
                        frame landscapes, and create depth and perspective in your
                        images.
                    </p>
                </div>
            </li>
            <li class="courses-item">
                <div class="courses-num-arrow">
                    <p class="courses-item-num">03</p>
                    <a href="#signup" class="courses-item-arrow">
                        <svg class="courses-icon" width="20" height="20">
                            <use href="./img/icons.svg.svg#icon-flash"></use>
                        </svg>
                    </a>
                </div>
                <div class="courses-content">
                    <h3 class="courses-subtitle">Portrait<br>photography</h3>
                    <p class="courses-content-text">
                        During this course, you will learn to choose the right lighting,
                        reproduce the mood and expressions on the faces of the models.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>