<section class="dvert">
  <div class="dvert-wrapp">
    <hr class="dvert-line" />
    <div class="dvert-inner">
      <h2 class="dvert-line-text">
        Master <span class="white-dvert">your photography</span> skills with
        us! Master <span class="white-dvert">your photography</span> skills
        with us!&nbsp;
      </h2>
      <h2 class="dvert-line-text">
        Master <span class="white-dvert">your photography</span> skills with
        us! Master <span class="white-dvert">your photography</span> skills
        with us!&nbsp;
      </h2>
    </div>
    <hr class="dvert-line" />
  </div>
</section>
