<header class="header">
  <div class="container">
    <div class="header_nav_button">
      <div class="header_container">
        <svg class="header_logo">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <nav class="header_desktop_nav">
          <ul class="header_desktop_nav_list">
            <li class="header_desktop_list">
              <a href="#about-us">About us</a>
            </li>
            <li class="header_desktop_list">
              <a href="#our-curses">Our courses</a>
            </li>
            <li class="header_desktop_list">
              <a href="#mentors">Our mentors</a>
            </li>
            <li class="header_desktop_list">
              <a href="#reviews">Reviews</a>
            </li>
            <li class="header_desktop_list">
              <a href="#phone">contacts</a>
            </li>
          </ul>
        </nav>
        <div class="header_main_content">
          <a class="button_camera" href="#">
            <svg class="button_camera_icon" width="16px" height="16px">
              <use href="./img/icons.svg#icon-camera"></use>
            </svg>
          </a>
          <button class="button_burger" type="button">
            <svg class="burger_button">
              <use href="./img/icons.svg#icon-burger"></use>
            </svg>
          </button>
        </div>
      </div>
      <button class="header_sing_button" type="button">Sign up</button>
    </div>
  </div>
  <!--to remove the mobile menu enter the class 
    " to_close "-->
  <div class="header_navigation_window">
    <div class="burger_list">
      <button class="burger_icon_close" type="button">
        <svg class="header_icon_close">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav>
        <ul class="burger_list_title">
          <li class="header_about_us">
            <a href="#">About us</a>
          </li>
          <li class="header_about_us_list">
            <a href="#">Our courses</a>
          </li>
          <li class="header_about_us_list">
            <a href="#">Our mentor</a>
          </li>
          <li class="header_about_us_list">
            <a href="#">Reviews</a>
          </li>
          <li class="header_about_us_list">
            <a href="#">contacts</a>
          </li>
        </ul>
      </nav>
      <img
        class="header_img"
        srcset="./img/burgerpicture1.jpg 1x 
./img/burgerpicture2.jpg 2x"
        src="./img/burgerpicture1.jpg"
        alt="burgerpicture"
      />
    </div>
  </div>
</header>
