<header class="header">
<div class="container">
    <div class="header_container">
<svg class="header_logo">
    <use href="../img/icons.svg#icon-logo">
    </use>
</svg>
<div class="header_main_content">
<button class="button_camera" type="button">
    <svg class="button_camera_icon" width="16px" height="16px">
        <use href="../img/icons.svg#icon-camera"></use>
    </svg>
</button>
<button class="button_burger" type="button">
    <svg class="burger_button">
        <use href="../img/icons.svg#icon-burger"></use>
    </svg>
</button>
</div>
    </div>
    <div class="header_navigation_window">
        <div class="burger_list is_open">
            <button class="burger_icon_close" type="button">
<svg class="header_icon_close">
    <use href="../img/icons.svg#icon-close"></use>
</svg>
            </button>
        
<ul class="burger_list_title">
<li class="header_about_us">About us</li>
<li class="header_about_us_list">Our courses</li>
<li class="header_about_us_list">Our mentors</li>
<li class="header_about_us_list">Reviews</li>
<li class="header_about_us_list">contacts</li>
</ul>
<img class="header_img"
srcset="../img/burgerpicture1.jpg 1x 
../img/burgerpicture2.jpg 2x" 
src="../img/burgerpicture1.jpg"
alt="burgerpicture"/>
</div>
    </div>
</div>
</header>


