<section class="container">
    <div class="hero-container">
      <div class="hero-container-hidden" >
        
        <h1 class="hero-title">Discover the magic of <span class="hero-title-photog">photography</span> in our school</h1>
        <p class="hero-item-text">
          Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical skills, translate your unique ideas.
        </p>
  
          <div class="hero-list">
            <div class="hero-link">
              <div class="hero-link-all">
                <!-- <ul class="hero-link-icons"> -->
                  <div class="hero-link-icon first">
                  <picture>
                  <source 
                  srcset="./img/hero/girl1-mob-x1.png 1x, 
                          ./img/hero/girl1-mob-x2.png 2x" 
                  media="(min-width:320px)" />
                  <source srcset="
                    ./img/hero/girl1-x1.png 1x,
                    ./img/hero/girl1-x2.png 2x
                  " media="(min-width:768px)" />
                  
                  <img src="./img/hero/girl1-mob-x1.png" alt="Caitlyn King" 
                  width="54" class="hero-link-png" />
                  </picture>
                  </div>
                  <div class="hero-link-icon second">
                    <picture>
                    <source srcset="./img/hero/boy-mob-x1.png 1x, 
                    ./img/hero/boy-mob-x2.png 2x" 
                    media="(min-width:320px)" />
                    <source srcset="
                    ./img/hero/boy-x1.png  1x,
                    ./img/hero/boy-x2.png 2x" 
                    media="(min-width:768px)" />
                    
                    <img src="./img/hero/boy-x1.png" alt="Jordan Barges" width="54" class="hero-link-png" />
                    </picture>
                  </div>
                  <div class="hero-link-icon third">
                    <picture>
                    <source srcset="./img/hero/girl3-mob-x1.png 1x, 
                    ./img/hero/girl3-mob-x2.png 2x" 
                    media="(min-width:320px)" />
                    <source srcset="
                      ./img/hero/girl3-x1.png 1x,
                      ./img/hero/girl3-x2.png 2x" 
                      media="(min-width:768px)" />
                    <img src="./img/hero/girl3-x1.png" alt="Adriana O'Sulivan" width="54" class="hero-link-png" />
                    </picture>
                  </div>
                  <!-- </ul> -->
                
              </div>
            
              
            <div class="hero-link-item">
                    <!-- <a class="hero-link-text" href="#reviews">Our happy students</a>
                    <a href="#reviews">
                    <svg class="hero-btn-icon" width="18" height="8.66">
                    <use href=".src/img/icons.svg#icon-flash-hero"></use>
                    </svg>
                    </a> 
    
                    <a href="#reviews-s" style="display: flex; align-items: center; margin-left: 4px;">
                    <span style="margin-right: 4px;">Our happy students</span>
                    <svg width="18" height="8.66">
                    <path d="M10 5 L25 15 L10 25"></path>
                    </svg>
                    </a> -->
           <div class="hero-btn-cover">
             
                      <a href="#reviews-s" class="hero-link-btn">
                        
                        <span class="hero-link-text">Our happy students</span>
                      </a>
           </div>
                      <div class="hero-link-cover">
                        <svg class="hero-link-svg" width="18" height="8.66">
                        <use href="./img/icons.svg#icon-flash-hero"></use>
                        </svg>
                      </div>
                    
               
              </div>
            </div>
              <div class="hero-object">
                <div class="hero-object-star">
                  <svg class="hero-object-svg" width="20" height="20">
                  <use href="./img/icons.svg#icon-star"></use>
                  </svg>
                </div>
                <div class="hero-object-block">
                <div class="hero-object-text">
                  Reviews
                </div>
                <div class="hero-object-number">
                  +1500
                </div>
              </div>
            </div>
      </div>
        
        <div  class="hero-model">
          <picture>
            <source srcset="./img/hero/model-mob-x1.png 1x,
            ./img/hero/model-mob-x2.png 2x" 
            media="(min-width:320px)" />
            <source srcset="
            ./img/hero/model-tab-x1.png 1x,
            ./img/hero/model-tab-x2.png 2x"
            media="(min-width:768px)" />
            <source srcset="
            ./img/hero/model-x1.png 1x,
            ./img/hero/model-x2.png 2x"
            media="(min-width:1280px)" />
            <img src="./img/hero/model-tab-x1.png" alt="Photographer" width="768"  class="hero-model-png"/>
          </picture> 
  
        </div>
  
      </div>
    </div>
    
    </section>