<section class="mentors">
  <div class="container">
    <h2 class="our-mentors">
      Our <span class="our-mentors-span">Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentors-photo">
        <img
          srcset="./img/mentors/emilia1x.jpg 1x, ./img/mentors/emilia2x.jpg 2x"
          src="./img/mentors/emiliax.jpg"
          class="mentors-img"
          alt="Emilia Smith"
        />
        <div class="mentors-title">
          <h3 class="mentors-subtitle">Emilia Smith</h3>
          <p class="mentors-text">1.5 years of experience</p>
        </div>
      </li>

      <li class="mentors-photo">
        <img
          srcset="./img/mentors/alex1x.jpg 1x, ./img/mentors/alex2x.jpg 2x"
          src="./img/mentors/alex1x.jpg"
          class="mentors-img"
          alt="Alex Lebedev"
        />
        <div class="mentors-title">
          <h3 class="mentors-subtitle">Alex Lebedev</h3>
          <p class="mentors-text">3.5 years of experience</p>
        </div>
      </li>

      <li class="mentors-photo">
        <img
          srcset="./img/mentors/mia1x.jpg 1x, ./img/mentors/mia2x.jpg 2x"
          src="./img/mentors/mia1x.jpg"
          class="mentors-img"
          alt="Mia Dubrovska"
        />
        <div class="mentors-title">
          <h3 class="mentors-subtitle">Mia Dubrovska</h3>
          <p class="mentors-text">2.0 years of experience</p>
        </div>
      </li>

      <li class="mentors-photo">
        <img
          srcset="./img/mentors/eliot1x.jpg 1x, ./img/mentors/eliot2x.jpg 2x"
          src="./img/mentors/eliot1x.jpg"
          class="mentors-img"
          alt="Eliot Kovalev"
        />
        <div class="mentors-title">
          <h3 class="mentors-subtitle">Eliot Kovalev</h3>
          <p class="mentors-text">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
