<section class="signup">
  <div class="container">
    <h2 class="signup-title">Sign <span>Up</span></h2>
    <p class="signup-text">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <form class="signup-form">
      <input type="text"
        name="user-name"
        class="signup-input" 
        placeholder="Enter your name"
        required 
      />
      <input
        type="email"
        name="user-email" 
        class="signup-input" 
        placeholder="Enter your email"
        required 
      />
    </form>
  </div>
</section>
