.advert {
  overflow: hidden;
  font-family: 'Pridi', sans-serif;
  font-size: 59px;
  line-height: 1.08;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: #fff;
}


.advert-inner {
  display: flex;
}

.advert-line {
  flex-shrink: 0;
  margin: 0;
  padding: 24px 20px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes advertLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
