/*-----header-hero-background-------*/

.header-hero-background {
  background-image: url(../img/header-hero-background/graphic-mobile.png);
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-hero-background {
    background-image: url(../img/header-hero-background/graphic-mobile-x2.png);
  }
}

@media screen and (min-width: 768px) {
  .header-hero-background {
    background-image: url(../img/header-hero-background/graphic-tab.png);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-hero-background {
      background-image: url(../img/header-hero-background/graphic-tab-x2.png);
    }
  }
}

@media screen and (min-width: 1280px) {
  .header-hero-background {
    background-image: url(../img/header-hero-background/graphic-desctop.png);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-hero-background {
      background-image: url(../img/header-hero-background/graphic-desctop-x2.png);
    }
  }
}

/*-------FOOTER-------*/

.section-footer {
  background-image: url(../img/footer/graphic-mob.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 25px;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-footer {
    background-image: url(../img/footer/graphic-mob-x2.png);
  }
}

.footer-line {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 40px;
  margin-top: 0;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo-svg {
  fill: #ffffff;
}

.footer-address-list {
  margin-top: 16px;
}

.footer-address-link {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  display: inline-block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link:not(:last-child) {
  margin-bottom: 10px;
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: #bea69e;
}

.footer-link-wrap {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.footer-soc-link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  color: #bea69e;
}

.footer-soc-item {
  margin-bottom: 14px;
}

.footer-soc-item:last-child {
  margin-bottom: 0;
}

.footer-nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #bea69e;
}

.footer-nav-item {
  margin-bottom: 14px;
}

.footer-nav-item:last-child {
  margin-bottom: 0;
}

.footer-form {
  margin-top: 75px;
}

.footer-input {
  max-width: 267px;
  height: 60px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 18px;
  border: none;
  outline: transparent;
}

.footer-input::placeholder {
  color: #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  opacity: 0.7;
}

.footer-btn {
  width: 60px;
  height: 60px;
  padding: 18px 16px;
  border-radius: 12px;
  background-color: #1d1d1d;
  font-family: inherit;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-left: 8px;
  border: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover {
  background-color: #fff;
  color: #121212;
  font-weight: 600;
}

.footer-text-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: start;
  gap: 72px;
}
.footer-text {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .footer-line {
    margin-bottom: 50px;
  }

  .section-footer {
    background-image: url(../img/footer/graphic-tab.png);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-footer {
      background-image: url(../img/footer/graphic-tab-x2.png);
    }
  }

  .footer-text {
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-flex {
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .footer-input {
    max-width: 178px;
  }

  .footer-logo-svg {
    width: 123px;
    height: 16px;
  }

  .footer-link-wrap {
    gap: 25px;
    margin-left: 58px;
  }

  .footer-form {
    margin-top: 0;
    margin-left: auto;
  }

  .footer-link-wrap {
    margin-top: 0;
  }

  .footer-btn {
    margin-left: 16px;
  }
  .footer-text-wrap {
    margin-top: 74px;
  }
}

@media screen and (min-width: 1280px) {
  .section-footer {
    background-image: url(../img/footer/graphic-desct.png);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-footer {
      background-image: url(../img/footer/graphic-desct-x2.png);
    }
  }

  .footer-link-wrap {
    gap: 50px;
    margin-left: 285px;
  }
  .footer-input {
    max-width: 216px;
  }
  .footer-text-wrap {
    margin-top: 50px;
  }
}
